@import "tailwindcss";


/* width */
::-webkit-scrollbar {
    width: 10px;
    position: fixed;
    left: 0;
}

::-webkit-scrollbar-track {
    background: rgb(226, 226, 226);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(193, 193, 193);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(167, 167, 167);
}

button {
    cursor: pointer;
}

.custom-bg-white {
    @apply p-4 md:p-8 rounded-2xl bg-white shadow-md
}

.custom-header {
    @apply block text-lg font-medium mb-6
}

.custom-input-field {
    @apply w-full p-2 border border-gray-300 rounded-lg focus:border-indigo-300 outline-none
}

.custom-label-field {
    @apply block text-gray-700 font-medium mb-2
}

.admin-home-echarts {
    min-width: 200px;
    max-width: 400px;
}


.ql-editor.ql-blank {
    min-height: 300px;
    text-align: right !important;
  }
  .ql-toolbar.ql-snow {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }
  .ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }
  .ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
    right: auto !important;
    left: 0px;
  }
  
  .ql-editor {
    direction: rtl;
    text-align: right;
  }
  
.ql-editor {
    height: 300px;
    direction: rtl;
    text-align: right;
}